
{% extends 'base.html.twig' %}

{% block content %}
<ul>
<li><button type="button"><a href="{{ path('ajouter-pizza') }}">ajouter pizzas</a></button></li>
<li><button type="button"><a href="{{ path('ajouter-commande') }}">ajouter commande</a></button></li>
</ul>


{% endblock %}